
class {{ enum.name }}({{ enum.enum_type.serialization_type }}, Enum):
    {% if enum.description %}
    """{{ enum.description | wordwrap(width=95, break_long_words=False, wrapstring='\n    ') }}
    """
    {% endif %}

    {% for value in enum.values %}
    {{ value.name }} = {{ value.value }}{{ "  #: " + value.description if value.description else "" }}
    {% endfor %}