{% set enums_mypy_does_not_recognize = ["count"] %}

class {{ enum.name }}({{ enum.enum_type.type_annotation }}, Enum):
    {% if enum.description %}
    """{{ enum.description | wordwrap(width=95, break_long_words=False, wrapstring='\n    ') }}
    """
    {% endif %}

    {% for value in enum.values %}
    {% if value.description and value.name in enums_mypy_does_not_recognize %}
    {{ "#: " + value.description }}
    {% endif %}
    {{ value.name }} = {{ enum.enum_type.get_declaration(value.value) }}{{ "  # type: ignore" if value.name in enums_mypy_does_not_recognize else ("  #: " + value.description if value.description else "") }}
    {% endfor %}