{% set async_suffix = "_async" if async_mode else "" %}
# coding=utf-8
{{ code_model.options['license_header'] }}

from ._{{ code_model.module_name + async_suffix }} import {{ code_model.class_name }}
{% if not async_mode and code_model.options['package_version']%}
from ._version import VERSION

__version__ = VERSION
{% endif %}
__all__ = ['{{ class_name }}']
