{% import 'keywords.jinja2' as keywords %}
# coding=utf-8
{{ code_model.options['license_header'] }}

from ._{{ code_model.module_name }} import {{ code_model.class_name }}
{% if not async_mode and code_model.options['package_version']%}
from ._version import VERSION

__version__ = VERSION
{% endif %}

{{ keywords.patch_imports(try_except=True) }}
__all__ = ['{{ code_model.class_name }}']
{{ keywords.extend_all }}

_patch_sdk()
