{% set def = "async def" if async_mode else "def" %}
{% set async_prefix = "a" if async_mode else "" %}
{% set await = "await " if async_mode else "" %}
{% macro escape_str(s) %}'{{ s|replace("'", "\\'") }}'{% endmacro %}
{% macro async_return_type_annotation(operation) %}
{{ " -> " ~
("Union[" if operation.responses | selectattr('has_body') | list | length > 1 else "") ~
(operation.responses | selectattr('has_body') | map(attribute='schema') | join(', ', attribute='type_annotation')) ~
("]" if operation.responses | selectattr('has_body') | list | length > 1 else "")
if operation.responses | selectattr('has_body') | first
else " -> None" }}{% endmacro %}
{% macro sync_return_type_annotation(operation) %}
{{ "# type: (...) -> " ~
    ("Union[" if operation.responses | selectattr('has_body') | list | length > 1 else "") ~
    (operation.responses | selectattr('has_body') | map(attribute='schema') | join(', ', attribute='type_annotation')) ~
    ("]" if operation.responses | selectattr('has_body') | list | length > 1 else "")
if operation.responses | selectattr('has_body') | first
else "# type: (...) -> None" }}{% endmacro %}