{% import 'operation_tools.jinja2' as op_tools with context %}
{% import 'keywords.jinja2' as keywords with context %}
{% import 'lro_operation_helper.jinja2' as lro_helper with context %}
{% import 'paging_operation_helper.jinja2' as paging_helper with context %}
{% set trace_decorator = "@distributed_trace_async" if async_mode else "@distributed_trace" %}
{# actual template starts here #}
{% if code_model.options['tracing'] %}
{{ trace_decorator }}
{% endif %}
{{ operation_serializer.method_signature_and_response_type_annotation(operation) }}
    {{ op_tools.description(operation, operation_serializer) | indent }}
    {{ op_tools.serialize(operation_serializer.set_up_params_for_pager(operation)) | indent }}

    {{ op_tools.serialize(operation_serializer.initial_call(operation)) | indent }}
    {{ op_tools.serialize(operation_serializer.get_long_running_output(operation)) | indent }}
    {{ op_tools.serialize(operation_serializer.return_lro_poller(operation)) | indent }}
{{ operation_serializer.get_metadata_url(operation) }}
