{% import 'keywords.jinja2' as keywords %}
# coding=utf-8
{{ code_model.options['license_header'] }}
{% macro iterate_models_py3() %}
    {% for schema in schemas %}
from .{{ code_model.get_models_filename(is_python3_file=True) }} import {{ schema }}
    {% endfor %}
{% endmacro %}

{% if schemas %}
    {% if code_model.options["python3_only"] %}
{{ iterate_models_py3() }}
    {% else %}
try:
    {{ iterate_models_py3() | indent-}}
except (SyntaxError, ImportError):
        {% for schema in schemas %}
    from .{{ code_model.get_models_filename(is_python3_file=False) }} import {{ schema }}  # type: ignore
        {% endfor %}
    {% endif %}
{% endif %}
{% if enums %}

{% for enum in enums %}
from .{{ code_model.enums_filename }} import {{ enum }}
{% endfor %}
{% endif %}
{{ keywords.patch_imports() }}
__all__ = [
    {% for schema in schemas %}
    '{{ schema }}',
    {% endfor %}
    {% if enums %}
    {% for enum in enums %}
    '{{ enum }}',
    {% endfor %}
{% endif %}
]
{{ keywords.extend_all }}
_patch_sdk()