# coding=utf-8
{{ code_model.options['license_header'] }}

{{ imports.non_typing() }}
{% if imports.has_typing %}

try:
    from typing import TYPE_CHECKING
except:
    TYPE_CHECKING = False

if TYPE_CHECKING:
    # pylint: disable=unused-import
    {{ imports.typing() }}
{% endif %}
{% for model in code_model.sorted_schemas %}
{% include "model.py.jinja2" %}
{% endfor %}