# coding=utf-8
{{ code_model.options['license_header'] }}

try:
    {% for schema in schemas %}
    {% if schema.is_exception %}
    from ._models_py3 import {{ schema.name }}, {{ schema.name + "Exception" }}
    {% else %}
    from ._models_py3 import {{ schema.name }}
    {% endif %}
    {% endfor %}
except (SyntaxError, ImportError):
    {% for schema in schemas %}
    {% if schema.is_exception %}
    from ._models import {{ schema.name }}, {{ schema.name + "Exception" }}  # type: ignore
    {% else %}
    from ._models import {{ schema.name }}  # type: ignore
    {% endif %}
    {% endfor %}
{% if enums %}

from ._{{ code_model.module_name }}_enums import (
    {% for enum in enums %}
    {{ enum }},
    {% endfor %}
)
{% endif %}

__all__ = [
    {% for schema in schemas %}
    {% if schema.is_exception %}
    '{{ schema.name }}', '{{ schema.name + "Exception" }}',
    {% else %}
    '{{ schema.name }}',
    {% endif %}
    {% endfor %}
    {% if enums %}
    {% for enum in enums %}
    '{{ enum }}',
    {% endfor %}
{% endif %}
]
