{% import 'keywords.jinja2' as keywords with context %}
{% import 'operation_tools.jinja2' as op_tools %}
{% set trace_decorator = "@distributed_trace_async" if async_mode else "@distributed_trace" %}
{% set stream_request_parameter = "stream=" ~ ("True" if operation.is_stream_response else "False") %}
{% set send_xml = "xml" if operation.parameters.has_body and "xml" in operation.request_content_type %}
{% set request_as_xml = ", is_xml=True" if send_xml else "" %}
{% macro exception_name() %}{{ operation.default_exception.schema.name }}Exception{% endmacro %}
{% set core_excep_name = 'ARMError' if code_model.options['azure_arm'] else 'HttpResponseError' %}
{# actual template starts here #}
{%- if code_model.options['tracing'] and operation.want_tracing -%}
{{ trace_decorator }}
{% endif %}
{{ op_tools.method_signature(operation, operation.python_name, async_mode=async_mode, coroutine=async_mode) }}
{%- if not async_mode %}
    {{ keywords.sync_return_type_annotation(operation) }}
{% endif %}
{% if operation.want_description_docstring %}
{{ op_tools.operation_docstring(operation)|indent }}
{% endif %}
    {% if async_mode %}
    cls: ClsType[{{ keywords.return_type_annotation(operation) }}] = kwargs.pop('cls', None)
    {% else %}
    cls = kwargs.pop('cls', None)  # type: ClsType[{{ keywords.return_type_annotation(operation) }}]
    {% endif %}
{% if operation.deprecated %}
    warnings.warn('Method {{operation.name}} is deprecated', DeprecationWarning)
{% endif %}
{%if operation.status_code_exceptions %}
    error_map = {
    {% for excep in operation.status_code_exceptions %}
        {% for status_code in excep.status_codes %}
            {% if excep.schema.is_exception %}
        {{ status_code }}: lambda response: models.{{ excep.schema.serialization_type }}Exception.from_response(response, self._deserialize),
            {% else  %}
        {{ status_code }}: {{ core_excep_name }},
            {% endif %}
        {% endfor %}
    {% endfor %}
    }
    error_map.update(kwargs.pop('error_map', {}))
{% else %}
    error_map = kwargs.pop('error_map', {})
{% endif %}
{% if operation.parameters.grouped %}
    {{ op_tools.grouped_parameters(operation)|indent }}
{%- endif -%}
{% if operation.parameters.is_flattened %}

    {{ operation.parameters.build_flattened_object() }}
{% endif %}
{% if operation.parameters.constant|selectattr("implementation", "equalto", "Method")|selectattr("original_parameter", "equalto", None) %}
    {% for constant_parameter in operation.parameters.constant|selectattr("implementation", "equalto", "Method")|selectattr("original_parameter", "equalto", None) %}
    {{ constant_parameter.serialized_name }} = {{ constant_parameter.schema.constant_value }}
    {% endfor %}
{% endif %}

    # Construct URL
    url = self.{{ operation.python_name }}.metadata['url']
{% if operation.parameters.path %}
    path_format_arguments = {
{% for path_parameter in operation.parameters.path %}
        '{{ path_parameter.rest_api_name }}': {{ operation.build_serialize_data_call(path_parameter, "url") }},
{% endfor %}
    }
    url = self._client.format_url(url, **path_format_arguments)
{% endif %}

    {{ op_tools.query_parameters(operation, async_mode)|indent }}
    {{ op_tools.header_parameters(code_model, operation, async_mode)|indent }}
{% if operation.parameters.has_body %}
    # Construct body
    {% for request in operation.requests %}
    {% if not request.is_stream_request %}
        {% set ser_ctxt = request.parameters.body.schema.xml_serialization_ctxt() if send_xml else None %}
        {% if ser_ctxt %}
    serialization_ctxt = {'xml': {{ "{" }}{{ ser_ctxt }}{{ "}}" }}
        {% endif %}
        {% if request.parameters.body.required %}
    body_content = self._serialize.body({{ request.parameters.body.serialized_name }}, '{{ request.parameters.body.schema.serialization_type }}'{{ request_as_xml }}{{ ", serialization_ctxt=serialization_ctxt" if ser_ctxt else "" }})
        {% else %}
    if {{ request.parameters.body.serialized_name }} is not None:
        body_content = self._serialize.body({{ request.parameters.body.serialized_name }}, '{{ request.parameters.body.schema.serialization_type }}'{{ request_as_xml }}{{ ", serialization_ctxt=serialization_ctxt" if ser_ctxt else "" }})
    else:
        body_content = None
        {% endif %}
    {% elif request.parameters.body.is_form_data %}
    # Construct form data
    form_data_content = {
    ###foreach (var parameter in Model.LocalParameters)
    ###    if (parameter.Location == ParameterLocation.FormData)
    ###    {
    ###            @:'@parameter.SerializedName': @parameter.Name,
    ###    }
    ###}
    }
    {% endif %}
    {% endfor %}

{% endif %}
    # Construct and send request
    {{ op_tools.body_parameters(operation)|indent }}
    pipeline_response = {{ keywords.await }}self._client._pipeline.run(request, {{ stream_request_parameter }}, **kwargs)
    response = pipeline_response.http_response

    if response.status_code not in {{ operation.success_status_code|string() }}:
        map_error(status_code=response.status_code, response=response, error_map=error_map)
        {% if not operation.default_exception %}
        raise {{ core_excep_name }}(response=response)
        {% else %}
        raise models.{{ exception_name() }}.from_response(response, self._deserialize)
        {% endif %}

{% if operation.any_response_has_headers %}
    response_headers = {}
{% endif %}
{% if operation.has_response_body and operation.responses|count > 1 %}
    deserialized = None
{% endif %}
{% if operation.has_response_body or operation.any_response_has_headers %}
  {% if operation.responses|count > 1 %}
    {% for status_code in operation.success_status_code %}
      {% set response =  operation.get_response_from_status(status_code) %}
      {% if response.headers or response.has_body %}
    if response.status_code == {{ status_code }}:
        {{ op_tools.response_handling(response)|indent(8) }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% set response = operation.responses[0] %}
    {{ op_tools.response_handling(response)|indent }}
  {% endif %}
{% endif %}
    if cls:
      return cls(pipeline_response, {{ 'deserialized' if operation.has_response_body else 'None'}}, {{ 'response_headers' if operation.any_response_has_headers else '{}' }})

{% if operation.has_response_body %}
    return deserialized
{% endif %}
{% if operation.method == 'head' and code_model.options['head_as_boolean'] %}
    return 200 <= response.status_code <= 299
{% endif %}
{{ operation.python_name }}.metadata = {'url': {{ keywords.escape_str(operation.url) }}}