{% macro operation_group_imports(filename_suffix="") %}
    {% for operation_group in operation_groups %}
from .{{ operation_group.filename + filename_suffix }} import {{ operation_group.class_name }}
    {% endfor %}
{% endmacro %}
{# actual template starts here #}
# coding=utf-8
{{ code_model.options['license_header'] }}

{% if not code_model.options["add_python_3_operation_files"] %}
{{ operation_group_imports() }}
{% elif code_model.options["add_python_3_operation_files"] and code_model.options["python_3_only"] %}
{{ operation_group_imports("_py3") }}
{% else %}
try:
    {{ operation_group_imports("_py3") | indent }}
except (SyntaxError, ImportError):
    {{ operation_group_imports() | indent }}
{% endif %}
{% if operation_groups %}
__all__ = [
{% for operation_group in operation_groups %}
    '{{ operation_group.class_name }}',
{% endfor %}
]
{% endif %}
