{% set object_base_class = "" if async_mode else "(object)" %}
{% set operation_group = operation_groups[0] %}
# coding=utf-8
{{ code_model.options['license_header'] }}
{{ imports }}

{{ "    " if not is_python_3_file }}T = TypeVar('T')
{{ "    " if not is_python_3_file }}ClsType = Optional[Callable[[PipelineResponse[HttpRequest, {{ "Async" if async_mode else "" }}HttpResponse], T, Dict[str, Any]], Any]]

{% if code_model.options["builders_visibility"] == "embedded" and not async_mode %}
_SERIALIZER = Serializer()
{% if not is_python_3_file %}
# fmt: off
{% endif %}
    {% for request_builder in code_model.rest.request_builders | selectattr("builder_group_name", "equalto", "") %}

    {% include "request_builder.py.jinja2" %}
    {% endfor %}
{% if not is_python_3_file %}
# fmt: on
{% endif %}
{% endif %}
{% include "operations_class_mixin.py.jinja2" %}