{# handle response headers/deserialization #}
{% macro response_handling(response) %}
  {% if response.headers %}
    {% for response_header in response.headers %}
response_headers['{{ response_header.name }}']=self._deserialize('{{ response_header.schema.get_serialization_type() }}', response.headers.get('{{ response_header.name }}'))
    {% endfor %}
  {% endif %}
  {% if response.is_stream_response %}
deserialized = response.stream_download(self._client._pipeline)
  {% elif response.has_body %}
deserialized = self._deserialize('{{ response.schema.get_serialization_type() }}', pipeline_response)
  {% endif %}
{% endmacro %}
{# write queryparameters #}
{% macro query_parameters(operation) %}
# Construct parameters
query_parameters: Dict[str, Any] = {}
{% if operation.parameters.query %}
    {% for query_parameter in operation.parameters.query %}
        {%if query_parameter.required %}
query_parameters['{{ query_parameter.rest_api_name }}'] = {{ operation.build_serialize_data_call(query_parameter, "query") }}
        {% else %}
if {{ query_parameter.full_serialized_name }} is not None:
    query_parameters['{{ query_parameter.rest_api_name }}'] = {{ operation.build_serialize_data_call(query_parameter, "query") }}
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}
{# write request headers #}
{% macro header_parameters(code_model, operation) %}
# Construct headers
header_parameters: Dict[str, Any] = {}
{% if operation.parameters.headers %}
    {% for header_parameter in operation.parameters.headers %}
        {%if header_parameter.required %}
header_parameters['{{ header_parameter.rest_api_name }}'] = {{ operation.build_serialize_data_call(header_parameter, "header") }}
        {% else %}
if {{ header_parameter.full_serialized_name }} is not None:
    header_parameters['{{ header_parameter.rest_api_name }}'] = {{ operation.build_serialize_data_call(header_parameter, "header") }}
        {% endif %}
    {% endfor %}
{% endif %}
{% if operation.has_response_body %}
header_parameters['Accept'] = '{{ operation.accept_content_type }}'
{% endif %}
{% if operation.parameters.has_body %}
header_parameters['Content-Type'] = '{{ operation.request_content_type }}'
{% endif %}
{% endmacro %}