{% import 'operation_tools.jinja2' as op_tools %}
{% set operations_description = "async operations" if async_mode else "operations" %}
{% set return_none_type_annotation = " -> None" if async_mode else "" %}
# pylint: disable=too-many-lines
# coding=utf-8
{{ code_model.options['license_header'] }}
{{ imports }}

{% if code_model.options["builders_visibility"] == "embedded" and not async_mode %}
{{ op_tools.declare_serializer(code_model) }}
{%- if not is_python3_file %}
# fmt: off
{% endif %}
{% for operation_group in operation_groups %}
    {% for request_builder in code_model.request_builders | selectattr("abstract", "ne", True) | selectattr("group_name", "equalto", operation_group.property_name) | rejectattr("is_overload") %}

        {% include "request_builder.py.jinja2" %}
    {% endfor %}
{% endfor %}
{% if not is_python3_file %}
# fmt: on
{% endif %}
{% endif %}
{% for operation_group in operation_groups %}
    {% include "operation_group.py.jinja2" %}
{% endfor %}