{% import 'keywords.jinja2' as keywords with context %}
{% macro return_type_annotation(operation, return_type_wrapper, return_type=None) %}
{%- if return_type -%}
{{ return_type }}
{%- else -%}
{{ ((return_type_wrapper | join("[") + "[") if return_type_wrapper else "") ~ ("Optional[" if operation.has_optional_return_type else "" ) ~ ("Union[" if operation.responses | selectattr('has_body') | map(attribute='operation_type_annotation') | unique | list  | length > 1 else "") ~
(operation.responses | selectattr('has_body') | map(attribute='operation_type_annotation') | unique | join(', ')) ~
("]" if operation.responses | selectattr('has_body') | map(attribute='operation_type_annotation')| unique | list | length > 1 else "") ~ ("]" if operation.has_optional_return_type else "") ~ ( ("]" * return_type_wrapper | count ) if return_type_wrapper else "")
if operation.responses | selectattr('has_body') | first
else ((return_type_wrapper | join("[") + "[") if return_type_wrapper else "") ~ ("Optional[" if operation.has_optional_return_type else "" ) ~ "None" ~ ("]" if operation.has_optional_return_type else "") ~ ( ("]" * return_type_wrapper | count ) if return_type_wrapper else "") }}{%- endif -%}{% endmacro %}
{# get async mypy typing #}
{% macro async_return_type_annotation(operation, return_type_wrapper, return_type=None) %}
{{ " -> " + return_type_annotation(operation, return_type_wrapper, return_type) }}{% endmacro %}
{# get sync mypy typing #}
{% macro sync_return_type_annotation(operation, return_type_wrapper, return_type=None) %}
{{ "# type: (...) -> " + return_type_annotation(operation, return_type_wrapper, return_type) }}{% endmacro %}
{# get method signature #}
{% macro _method_signature(operation, parameters, operation_name, async_mode, coroutine, return_type_wrapper, return_type=None) %}
{% import 'keywords.jinja2' as keywords with context %}
{{ "async " if coroutine else "" }}def {{ operation_name }}(
    self,
{% for param_signature in parameters.method_signature(async_mode) %}
    {{ param_signature }}
{% endfor %}
    {{ keywords.kwargs_declaration }}
){{ async_return_type_annotation(operation, return_type_wrapper, return_type) if async_mode }}:
{% endmacro %}

{% macro operation_method_signature(operation, async_mode, coroutine, return_type_wrapper, return_type=None) %}
{{ _method_signature(operation, operation.parameters, operation.python_name, async_mode, coroutine, return_type_wrapper, return_type) }}{% endmacro %}

{% macro request_method_signature(operation, request, async_mode) %}
{{ _method_signature(operation, request.parameters, request.name, async_mode, coroutine=False, return_type_wrapper="", return_type="HttpRequest") }}{% endmacro %}

{# content type docstring #}
{% macro content_type_docstring(request) %}
{% set content_type_constant = request.parameters.constant|selectattr("implementation", "equalto", "Method")|selectattr("original_parameter", "equalto", None)|selectattr("in_method_code") | selectattr("serialized_name", "equalto", "content_type") | first  %}
:keyword str content_type: Media type of the body sent to the API. Default value is {{ content_type_constant.constant_declaration }}.
 Allowed values are: "{{ request.schema_requests | map(attribute="media_types") | sum(start = []) | unique | list | join ('", "')  }}".{% endmacro %}

{# error map handling #}
{% macro error_map(operation, code_model) %}
{%if operation.status_code_exceptions %}
error_map = {
    {% if not 401 in operation.status_code_exceptions_status_codes %}
    401: ClientAuthenticationError,
    {% endif %}
    {% if not 404 in operation.status_code_exceptions_status_codes %}
    404: ResourceNotFoundError,
    {% endif %}
    {% if not 409 in operation.status_code_exceptions_status_codes %}
    409: ResourceExistsError,
    {% endif %}
{% for excep in operation.status_code_exceptions %}
    {% for status_code in excep.status_codes %}
    {% set error_model = ", model=self._deserialize(_models." + excep.serialization_type + ", response)" if excep.is_exception else "" %}
    {% set error_format = ", error_format=ARMErrorFormat" if code_model.options['azure_arm'] else "" %}
    {% if status_code == 401 %}
    401: lambda response: ClientAuthenticationError(response=response{{ error_model }}{{ error_format }}),
    {% elif status_code == 404 %}
    404: lambda response: ResourceNotFoundError(response=response{{ error_model }}{{ error_format }}),
    {% elif status_code == 409 %}
    409: lambda response: ResourceExistsError(response=response{{ error_model }}{{ error_format }}),
    {% else %}
    {% if not error_model and not error_format %}
    {{ status_code }}: HttpResponseError,
    {% else %}
    {{ status_code }}: lambda response: HttpResponseError(response=response{{ error_model }}{{ error_format }}),
    {% endif %}
    {% endif %}
    {% endfor %}
{% endfor %}
}
{% else %}
error_map = {
    401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
}
{% endif %}
error_map.update(kwargs.pop('error_map', {})){%- endmacro -%}

{% macro response_headers(response) %}
{% for response_header in response.headers %}
response_headers['{{ response_header.name }}']=self._deserialize('{{ response_header.serialization_type }}', response.headers.get('{{ response_header.name }}'))
{% endfor %}{% endmacro %}

{% macro response_headers_and_deserialization(response) %}
{% if response.headers %}
{{ response_headers(response) }}
    {% endif %}
    {% if response.is_stream_response %}
deserialized = response.stream_download(self._client._pipeline)
    {% elif response.has_body %}
deserialized = self._deserialize('{{ response.serialization_type }}', pipeline_response)
    {% endif %}
{% endmacro %}

{# write grouped parameters #}
{% macro grouped_parameters(operation) %}
{% if operation.parameters.grouped %}

    {% for grouped_parameter in operation.parameters.grouped %}
{{ grouped_parameter.serialized_name }} = None
    {% endfor %}
    {% for grouper_name, grouped_parameters in operation.parameters.grouped|groupby("grouped_by.serialized_name") %}
if {{ grouper_name }} is not None:
        {% for grouped_parameter in grouped_parameters %}
    {{ grouped_parameter.serialized_name }} = {{ grouper_name }}.{{ grouped_parameter.serialized_name.lstrip('_') }}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endmacro %}

{# write queryparameters #}
{% macro query_parameters(request, async_mode) %}
# Construct parameters
query_parameters = {}  # type: Dict[str, Any]
{% if request.parameters.query %}
    {% for query_parameter in request.parameters.query %}
        {%if query_parameter.required %}
query_parameters['{{ query_parameter.rest_api_name }}'] = {{ request.build_serialize_data_call(query_parameter, "query") }}
        {% else %}
if {{ query_parameter.full_serialized_name }} is not None:
    query_parameters['{{ query_parameter.rest_api_name }}'] = {{ request.build_serialize_data_call(query_parameter, "query") }}
        {% endif %}
    {% endfor %}
{% endif %}{% endmacro %}

{# write request headers #}
{% macro header_parameters(code_model, request, async_mode) %}
# Construct headers
header_parameters = {}  # type: Dict[str, Any]
{% if request.parameters.headers %}
    {% for header_parameter in request.parameters.headers %}
        {%if header_parameter.required %}
header_parameters['{{ header_parameter.rest_api_name }}'] = {{ request.build_serialize_data_call(header_parameter, "header") }}
        {% else %}
if {{ header_parameter.full_serialized_name }} is not None:
    header_parameters['{{ header_parameter.rest_api_name }}'] = {{ request.build_serialize_data_call(header_parameter, "header") }}
        {% endif %}
    {% endfor %}
{% endif %}{% endmacro %}

{# helper for non-stream body params with schema #}
{% macro non_stream_body_params(request, send_xml, request_as_xml) %}
{% set send_xml = "xml" if request.parameters.has_body and "xml" in request.content_type %}
{% set ser_ctxt = request.parameters.body[0].xml_serialization_ctxt if send_xml else None %}
{% set request_as_xml = ", is_xml=True" if send_xml else "" %}
{% if ser_ctxt %}
serialization_ctxt = {'xml': {{ "{" }}{{ ser_ctxt }}{{ "}}" }}
{% endif %}
{% if request.parameters.body[0].required %}
body_content = self._serialize.body({{ request.parameters.body[0].serialized_name }}, '{{ request.parameters.body[0].serialization_type }}'{{ request_as_xml }}{{ ", serialization_ctxt=serialization_ctxt" if ser_ctxt else "" }})
{% else %}
if {{ request.parameters.body[0].serialized_name }} is not None:
    body_content = self._serialize.body({{ request.parameters.body[0].serialized_name }}, '{{ request.parameters.body[0].serialization_type }}'{{ request_as_xml }}{{ ", serialization_ctxt=serialization_ctxt" if ser_ctxt else "" }})
else:
    body_content = None
{% endif %}
body_content_kwargs['content'] = body_content{% endmacro %}

{% macro set_body_content_kwarg(request, schema_request) %}
{% if request.multipart %}
body_content_kwargs['form_content'] = {{ request.parameters.body[0].serialized_name }}
{% elif schema_request.is_stream_request %}
body_content_kwargs['stream_content'] = {{ request.parameters.body[0].serialized_name }}
{% elif schema_request.body_parameter_has_schema %}
{{ non_stream_body_params(request) }}{% endif %}{% endmacro %}

{# write body parameters #}
{% macro body_parameters(request, http_verb=None, returns_request=True) %}
{% set body_content_kwargs_signature = "" %}
{% set form_content_kwarg_signature = "" %}
{% if request.parameters.has_body %}
    {% set body_content_kwargs_signature = ", **body_content_kwargs" %}
body_content_kwargs = {}  # type: Dict[str, Any]
    {% if (request.schema_requests | length) == 1 %}
{{ set_body_content_kwarg(request, request.schema_requests[0]) }}
    {% else %}
        {% for schema_request in request.schema_requests %}
{{ "el" if not loop.first }}if header_parameters['Content-Type'].split(";")[0] in {{ schema_request.pre_semicolon_media_types }}:
    {{ set_body_content_kwarg(request, schema_request)|indent }}
        {% endfor %}
else:
    raise ValueError(
        "The content_type '{}' is not one of the allowed values: "
        "{{ request.schema_requests | map(attribute="media_types") | sum(start = []) | unique | list }}".format(header_parameters['Content-Type'])
    )
    {% endif %}
{% endif %}
{{ "return" if returns_request else "request =" }} self._client.{{ http_verb if http_verb else request.method }}(url, query_parameters, header_parameters{{ form_content_kwarg_signature }}{{ body_content_kwargs_signature }}){% endmacro %}

{% macro handle_error_response(code_model, operation) %}
if response.status_code not in {{ operation.success_status_code|string() }}:
    map_error(status_code=response.status_code, response=response, error_map=error_map)
	{% if operation.default_exception %}
    error = self._deserialize.failsafe_deserialize({{ operation.default_exception }}, response)
	{% endif %}
    raise HttpResponseError(response=response{{ ", model=error" if operation.default_exception else "" }}{{ ", error_format=ARMErrorFormat" if code_model.options['azure_arm'] else "" }}){% endmacro %}

{# deal with response #}
{% macro handle_response(code_model, operation) %}
response = pipeline_response.http_response

{{ handle_error_response(code_model, operation) }}

{# now we only initialize deserialized to None if we know there is both > 1 response with body and > 1 response of None #}
{# otherwise, we know that deserialized will be set to a value then returned #}
{% if operation.has_optional_return_type %}
deserialized = None
{% endif %}
{% if operation.any_response_has_headers %}
response_headers = {}
{% endif %}
{% if operation.has_response_body or operation.any_response_has_headers %}
  {% if operation.responses|count > 1 %}
    {% for status_code in operation.success_status_code %}
      {% set response =  operation.get_response_from_status(status_code) %}
      {% if response.headers or response.has_body %}
if response.status_code == {{ status_code }}:
    {{ response_headers_and_deserialization(response)|indent }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% set response = operation.responses[0] %}
{{ response_headers_and_deserialization(response) }}
  {% endif %}
{% endif %}
if cls:
    return cls(pipeline_response, {{ 'deserialized' if operation.has_response_body else 'None'}}, {{ 'response_headers' if operation.any_response_has_headers else '{}' }})
{% if operation.has_response_body %}

return deserialized
{% endif %}
{% if operation.request.method == 'head' and code_model.options['head_as_boolean'] %}
return 200 <= response.status_code <= 299
{% endif %}{% endmacro %}

{% macro get_request(operation, request) %}
{% if operation.parameters.grouped %}
{{ grouped_parameters(operation) }}
{%- endif -%}
{% if operation.request.multipart %}
# Construct form data
_body = {
    {% for param in operation.parameters.body %}
    '{{ param.rest_api_name }}': {{ param.serialized_name }},
    {% endfor %}
}
{% elif operation.parameters.is_flattened %}
{{ operation.parameters.build_flattened_object() }}
{% elif operation.parameters.has_body and not request.parameters.body[0].constant %}
_body = {{ operation.parameters.body[0].serialized_name }}
{% endif %}
request = self.{{ request.name }}({{ "**kwargs)" if not request.parameters.method }}
{% if request.parameters.method %}
    {% for parameter in request.parameters.method %}
    {{ parameter.serialized_name }}={{ parameter.name_in_high_level_operation }},
    {% endfor %}
    **kwargs
){% endif %}
{% endmacro %}