{% import 'operation_tools.jinja2' as op_tools %}
{% macro paging_operation(code_model, operation, async_mode) %}
{% import 'keywords.jinja2' as keywords with context %}
{% set next_link_str = "deserialized." + operation.next_link_name + " or None" if operation.next_link_name else "None" %}
{% set stream_request_parameter = "stream=" ~ ("True" if operation.is_stream_response else "False") %}
{% set request = operation.request %}
cls = kwargs.pop('cls', None)  # type: ClsType[{{ op_tools.return_type_annotation(operation) }}]
    {{ op_tools.error_map(operation, code_model)|indent }}
{% if request.parameters.grouped %}
    {{ op_tools.grouped_parameters(operation)|indent }}
{%- endif -%}
{% if request.parameters.is_flattened %}
    {{ request.parameters.build_flattened_object() }}
{% endif %}
{% if request.parameters.constant|selectattr("implementation", "equalto", "Method") %}
    {% for constant_parameter in request.parameters.constant|selectattr("implementation", "equalto", "Method") %}
    {{ constant_parameter.serialized_name }} = {{ constant_parameter.constant_declaration }}
    {% endfor %}
{% endif %}

    def prepare_request(next_link=None):
        {{ op_tools.header_parameters(code_model, request, async_mode)|indent(8) }}
        if not next_link:
            # Construct URL
            url = self.{{ operation.python_name }}.metadata['url']  # type: ignore
        {% if request.parameters.path %}
            path_format_arguments = {
        {% for path_parameter in request.parameters.path %}
                '{{ path_parameter.rest_api_name }}': {{ request.build_serialize_data_call(path_parameter, "url") }},
        {% endfor %}
            }
            url = self._client.format_url(url, **path_format_arguments)
        {% endif %}
            {{ op_tools.query_parameters(request, async_mode)|indent(12) }}
            {{ op_tools.body_parameters(request)|indent(12) }}
        else:
{% if operation.next_operation %}
            url = '{{ operation.next_request.url }}'
        {% if operation.next_request.parameters.path %}
            path_format_arguments = {
        {% for path_parameter in operation.next_request.parameters.path %}
                '{{ path_parameter.rest_api_name }}': {{ operation.next_request.build_serialize_data_call(path_parameter, "url") }},
        {% endfor %}
            }
            url = self._client.format_url(url, **path_format_arguments)
        {% endif %}
            {{ op_tools.query_parameters(operation.next_operation.request, async_mode)|indent(12) }}
            {{ op_tools.body_parameters(operation.next_operation.request)|indent(12) }}
{% else %}
            url = next_link
            query_parameters = {}  # type: Dict[str, Any]
        {% if request.parameters.path and not code_model.base_url%}
            path_format_arguments = {
        {% for path_parameter in request.parameters.path %}
                '{{ path_parameter.rest_api_name }}': {{ request.build_serialize_data_call(path_parameter, "url") }},
        {% endfor %}
            }
            url = self._client.format_url(url, **path_format_arguments)
        {% endif %}
            {{ op_tools.body_parameters(request, http_verb="get")|indent(12) }}
{% endif %}
        return request

    {{ keywords.def }} extract_data(pipeline_response):
        {% set response = operation.responses[0] %}
        deserialized = self._deserialize('{{ response.serialization_type }}', pipeline_response)
        list_of_elem = deserialized.{{ operation.item_name }}
        if cls:
            list_of_elem = cls(list_of_elem)
        {% if async_mode %}
        return {{ next_link_str }}, AsyncList(list_of_elem)
        {% else %}
        return {{ next_link_str }}, iter(list_of_elem)
        {% endif %}

    {{ keywords.def }} get_next(next_link=None):
        request = prepare_request(next_link)

        pipeline_response = {{ keywords.await }}self._client._pipeline.run(request, {{ stream_request_parameter }}, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in {{ operation.success_status_code|string() }}:
            {% if operation.default_exception %}
            error = self._deserialize({{ operation.default_exception }}, response)
            {% endif %}
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response{{ ", model=error" if operation.default_exception else "" }}{{ ", error_format=ARMErrorFormat" if code_model.options['azure_arm'] else "" }})

        return pipeline_response
{%- endmacro -%}