{% import 'keywords.jinja2' as keywords with context %}
{% import 'operation_tools.jinja2' as op_tools %}
{{ op_tools.request_method_signature(operation, request, async_mode=async_mode) }}
{%- if not async_mode %}
    {{ op_tools.sync_return_type_annotation(operation, "", return_type="HttpRequest") }}
{% endif %}
{% if request.parameters.constant|selectattr("implementation", "equalto", "Method")|selectattr("original_parameter", "equalto", None)|selectattr("in_method_code") %}
    {% for constant_parameter in request.parameters.constant|selectattr("implementation", "equalto", "Method")|selectattr("original_parameter", "equalto", None)|selectattr("in_method_code") %}
    {% if constant_parameter.serialized_name == "content_type" %}
    content_type = kwargs.pop("content_type", {{ constant_parameter.constant_declaration }})
    {% else %}
    {{ constant_parameter.serialized_name }} = {{ constant_parameter.constant_declaration }}
    {% endif %}
    {% endfor %}
{% endif %}

    # Construct URL
    url = kwargs.pop("template_url", self.{{ request.name }}.metadata['url'])  # type: ignore
{% if request.parameters.path %}
    {{ op_tools.path_format_arguments(request.parameters.path)|indent }}
    {{ op_tools.format_path_format_arguments()|indent }}
{% endif %}

    {{ op_tools.query_parameters(request, async_mode)|indent }}
    {{ op_tools.header_parameters(code_model, request, async_mode)|indent }}
    {{ op_tools.body_parameters(request)|indent }}
{{ request.name }}.metadata = {'url': {{ keywords.escape_str(request.url) }}}  # type: ignore
