# coding=utf-8
{{ code_model.options['license_header'] }}

try:
    {% for preparer in code_model.rest.preparers %}
    from ._preparers_py3 import {{ preparer.name }}
    {% endfor %}
except (SyntaxError, ImportError):
    {% for preparer in code_model.rest.preparers %}
    from ._preparers import {{ preparer.name }}  # type: ignore
    {% endfor %}

__all__ = [
    {% for preparer in code_model.rest.preparers %}
    '{{ preparer.name }}',
    {% endfor %}
]
