# coding=utf-8
{{ license_header }}
# coding: utf-8
{% if package_mode %}
import os
import re
{% endif -%}
from setuptools import setup, find_packages

{% set package_name_render = package_name or code_model.client.name %}

PACKAGE_NAME = "{{ package_name_render|lower }}"
{% if package_mode -%}
PACKAGE_PPRINT_NAME = "{{ package_pprint_name }}"

# a-b-c => a/b/c
package_folder_path = PACKAGE_NAME.replace("-", "/")

# Version extraction inspired from 'requests'
with open(os.path.join(package_folder_path, "_version.py"), "r") as fd:
    version = re.search(
        r'^VERSION\s*=\s*[\'"]([^\'"]*)[\'"]', fd.read(), re.MULTILINE
    ).group(1)

if not version:
    raise RuntimeError("Cannot find version information")
{% set description = "Microsoft %s Client Library for Python"|format(package_pprint_name) %}
{% set author_email = "azpysdkhelp@microsoft.com" %}
{% set url = "https://github.com/Azure/azure-sdk-for-python/tree/main/sdk" %}
{% else %}
version = "{{ code_model.options['package_version'] }}"
{% set description = "%s"|format(package_name_render) %}
{% set long_description = code_model.client.description %}
{% set author_email = "" %}
{% set url = "" %}
{% endif -%}

setup(
    name=PACKAGE_NAME,
    version=version,
    description="{{ description }}",
    {% if package_mode %}
    long_description=open("README.md", "r").read(),
    long_description_content_type="text/markdown",
    license="MIT License",
    author="Microsoft Corporation",
    {% endif %}
    author_email="{{ author_email }}",
    url="{{ url }}",
    keywords="azure, azure sdk",
    {% if package_mode %}
    classifiers=[
        "Development Status :: {{ dev_status }}",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "License :: OSI Approved :: MIT License",
    ],
    zip_safe=False,
    packages=find_packages(
        exclude=[
            "tests",
            # Exclude packages that will be covered by PEP420 or nspkg
            {%- for pkgutil_name in pkgutil_names %}
            "{{ pkgutil_name }}",
            {%- endfor %}
        ]
    ),
    {% else %}
    packages=find_packages(),
    include_package_data=True,
    {% endif %}
    install_requires=[
        {% if code_model.is_legacy %}
        "{{ dependency_msrest }}",
        {% endif %}
        {% if azure_arm %}
        "{{ dependency_azure_mgmt_core }}",
        {% else %}
        "{{ dependency_azure_core }}",
        {% endif %}
    ],
    {% if package_mode %}
    python_requires=">=3.6",
    {% else %}
    long_description="""\
    {{ code_model.client.description }}
    """
    {% endif %}
)
