{% set name = code_model.options["package_name"] or code_model.class_name %}
# coding=utf-8
{{ code_model.options['license_header'] }}
# coding: utf-8

from setuptools import setup, find_packages

NAME = "{{ name|lower }}"
VERSION = "{{ code_model.options.get('package_version', '0.0.0') }}"

# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = [
    "{{ code_model.package_dependency["dependency_msrest"] }}",
    "{{ code_model.package_dependency["dependency_azure_core"] }}",
    {%- if code_model.options["azure_arm"] %}
    "{{ code_model.package_dependency["dependency_azure_mgmt_core"] }}"
    {%- endif %}
]

setup(
    name=NAME,
    version=VERSION,
    description="{{ name }}",
    author_email="",
    url="",
    keywords=["Swagger", "{{ code_model.class_name }}"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    long_description="""\
    {{ code_model.description }}
    """
)
