-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
../../core/azure-core
{% if code_model.options["package_mode"] == "mgmtplane" -%}
../../identity/azure-identity
{% endif -%}
aiohttp>=3.0
typing_extensions>=3.7.2
asyncio
