include *.md
include LICENSE
recursive-include tests *.py
recursive-include samples *.py *.md
{%- for init_name in init_names %}
include {{ init_name }}
{%- endfor %}
{%- if package_mode == "mgmtplane" %}
include _meta.json
{%- endif %}
