black==21.12b0
click==8.0.3
docutils==0.18.1
Jinja2==3.0.3
json-rpc==1.13.0
m2r==0.2.1
MarkupSafe==2.0.1
mistune==0.8.4
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
PyYAML==6.0
tomli==1.2.2
typing-extensions==4.0.1