requests>=2.14.0
pytest
pytest-cov
pytest-asyncio;python_full_version>="3.5.2"
async_generator;python_full_version>="3.5.2"
azure-core>=1.2.2
git+https://github.com/Azure/azure-sdk-for-python@azure_mgmt_core#subdirectory=sdk/core/azure-mgmt-core&egg=azure-mgmt-core
msrest>=0.6.10
aiohttp;python_full_version>="3.5.2"
-e ./Expected/AcceptanceTests/AzureBodyDuration
-e ./Expected/AcceptanceTests/AzureParameterGrouping
-e ./Expected/AcceptanceTests/AzureReport
-e ./Expected/AcceptanceTests/AzureSpecials
-e ./Expected/AcceptanceTests/CustomBaseUri
-e ./Expected/AcceptanceTests/CustomUrlPaging
-e ./Expected/AcceptanceTests/Head
-e ./Expected/AcceptanceTests/HeadExceptions
-e ./Expected/AcceptanceTests/Lro
-e ./Expected/AcceptanceTests/Paging
-e ./Expected/AcceptanceTests/StorageManagementClient
-e ./Expected/AcceptanceTests/SubscriptionIdApiVersion