requests>=2.14.0
pytest<=5.1.1
pytest-cov
pytest-asyncio;python_full_version>="3.5.2"
azure-core
git+https://github.com/Azure/azure-sdk-for-python@azure_mgmt_core#subdirectory=sdk/core/azure-mgmt-core&egg=azure-mgmt-core
msrest>=0.6.10
aiohttp;python_full_version>="3.5.2"