requests>=2.14.0
pytest
pytest-cov
pytest-asyncio;python_full_version>="3.5.2"
azure-core>=1.0.0b1
git+https://github.com/Azure/azure-sdk-for-python@azure_mgmt_core#subdirectory=sdk/core/azure-mgmt-core&egg=azure-mgmt-core
msrest>=0.6.2
aiohttp