aiohttp;python_full_version>="3.5.2"
requests==2.20.0
pytest
pytest-cov
pytest-asyncio==0.14.0;python_full_version>="3.5.2"
async_generator;python_full_version>="3.5.2"
msrest==0.6.21
azure-core==1.23.0
-e ./Expected/AcceptanceTests/AdditionalProperties
-e ./Expected/AcceptanceTests/Anything
-e ./Expected/AcceptanceTests/BodyArray
-e ./Expected/AcceptanceTests/BodyBinary
-e ./Expected/AcceptanceTests/BodyBoolean
-e ./Expected/AcceptanceTests/BodyByte
-e ./Expected/AcceptanceTests/BodyComplex
-e ./Expected/AcceptanceTests/BodyComplexPythonThreeOnly
-e ./Expected/AcceptanceTests/BodyDate
-e ./Expected/AcceptanceTests/BodyDateTime
-e ./Expected/AcceptanceTests/BodyDateTimeRfc1123
-e ./Expected/AcceptanceTests/BodyDictionary
-e ./Expected/AcceptanceTests/BodyDuration
-e ./Expected/AcceptanceTests/BodyFile
-e ./Expected/AcceptanceTests/BodyFormData
-e ./Expected/AcceptanceTests/BodyFormUrlEncodedData
-e ./Expected/AcceptanceTests/BodyInteger
-e ./Expected/AcceptanceTests/BodyNumber
-e ./Expected/AcceptanceTests/BodyString
-e ./Expected/AcceptanceTests/BodyTime
-e ./Expected/AcceptanceTests/Constants
-e ./Expected/AcceptanceTests/CustomBaseUri
-e ./Expected/AcceptanceTests/CustomBaseUriMoreOptions
-e ./Expected/AcceptanceTests/ErrorWithSecrets
-e ./Expected/AcceptanceTests/ExtensibleEnums
-e ./Expected/AcceptanceTests/Header
-e ./Expected/AcceptanceTests/Http
-e ./Expected/AcceptanceTests/IncorrectErrorResponse
-e ./Expected/AcceptanceTests/MediaTypes
-e ./Expected/AcceptanceTests/MergePatchJson
-e ./Expected/AcceptanceTests/ModelFlattening
-e ./Expected/AcceptanceTests/MultipleInheritance
-e ./Expected/AcceptanceTests/NoOperations
-e ./Expected/AcceptanceTests/NonStringEnums
-e ./Expected/AcceptanceTests/ObjectType
-e ./Expected/AcceptanceTests/ParameterFlattening
-e Expected/AcceptanceTests/ParameterizedEndpoint/
-e ./Expected/AcceptanceTests/Report
-e ./Expected/AcceptanceTests/RequiredOptional
-e ./Expected/AcceptanceTests/ReservedWords
-e ./Expected/AcceptanceTests/Url
-e ./Expected/AcceptanceTests/UrlMultiCollectionFormat
-e ./Expected/AcceptanceTests/Validation
-e ./Expected/AcceptanceTests/Xml
-e ./Expected/AcceptanceTests/XmsErrorResponse
-e ./Expected/AcceptanceTests/PackageModeDataPlane