aiohttp>=3.0; python_full_version >= '3.5.2'
msrest>=0.6.21
azure-core>=1.7.0
azure-mgmt-core>=1.2.0
pytest
pytest-asyncio==0.14.0;python_full_version>="3.5.2"
async_generator;python_full_version>="3.5.2"
azure-common
-e ./Expected/AcceptanceTests/Multiapi
-e ./Expected/AcceptanceTests/MultiapiWithSubmodule
-e ./Expected/AcceptanceTests/MultiapiNoAsync
-e ./Expected/AcceptanceTests/MultiapiCredentialDefaultPolicy
-e ./Expected/AcceptanceTests/MultiapiDataPlane
-e ./Expected/AcceptanceTests/MultiapiCustomBaseUrl