### Settings

```yaml
input-file:
{% for file in input_file -%}
- {{ file }}
{% endfor -%}
output-folder: {{ swagger_readme_output }}
namespace: {{ namespace }}
package-name: {{ package_name }}
license-header: MICROSOFT_MIT_NO_VERSION
clear-output-folder: true
no-namespace-folders: true
python: true
title: {{ client_name }}
version-tolerant: true
package-version: {{ package_version }}
add-credential: true
credential-scopes: {{ credential_scopes }}
```
